tweepy==4.9.0
python-dotenv==0.10.3
SQLAlchemy==1.4.36
psycopg2-binary==2.8.6
opencv-python-headless==4.5.5.64
h5py==3.1.0
matplotlib==3.5.2
numpy==1.22
scipy==1.4.1
tqdm==4.11.2
keras==2.7.0
scikit-learn==0.23.2
pillow==9.0.1
ipykernel==4.6.1
tensorflow-cpu==2.9.3
